.myModal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgb(0,0,0,0.5);
}

.myModalActive{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
}

.myModalContent{
    font-size: 20px;
    padding: 4px;
    border: 2px solid orangered;
    background: white;
    border-radius: 16px;
    min-width: 250px;
    max-width: 400px;
}